{% load static %}


<!DOCTYPE html>
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>WebGPU Heat</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
   <h1>CarSim: WebGPU application for Heat simulation</h1><br>

   <h2 id="id-gpu-check"></h2><br><br>  

   <div>
      <form enctype="multipart/form-data" method="post">
         {% csrf_token %}
         {{ form }}  
         <button type="submit"  id='btn-uploadMesh'> Upload Mesh</button>
     </form>
 
     {%if url%}
       <p> Uploaded File: <a href="{{ url }}">{{ url }}</a></p>
     {% endif %}

     <br>
     <button type='button' id='btn-simulate'>LET'S GO!</button>
     <br>
   </div>

   
   
   <div>

      <br>
      <canvas id="canvas-webgpu" width="720" height="640"></canvas>
      <br>
      <button type='button' id='btn-print-mesh-info'>Print Mesh Info</button>
   
   </div>

   {{ data|json_script:"data" }}
   <script>
      const djangodata = JSON.parse(document.getElementById('data').textContent);
   </script>


   <script src="{% static 'carSimMain/main/dist/main_heat.bundle.js' %}"></script>



   
   






   

   

</body>
</html>