{% load static %}


<!DOCTYPE html>
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>WebGPU Renderer</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
   <h1>CarSim: WebGPU application for cardiac simulation</h1><br>

   <h2 id="id-gpu-check"></h2><br><br>

   <input type="radio" id="simulator" name="mode" value="simulator" checked>
   <label for="simulator">simulator</label><br><br>
   <!-- <input type="radio" id="renderer" name="mode" value="renderer">
   <label for="renderer">render</label><br> -->

   <div>
      <form enctype="multipart/form-data" method="post">
         {% csrf_token %}
         {{ form }}  
         <button type="submit"  id='btn-uploadMesh'> Upload Mesh</button>
     </form>
 
     {%if url%}
       <p> Uploaded File: <a href="{{ url }}">{{ url }}</a></p>
     {% endif %}
   </div>

   
   
   <div>

      <br>
      <canvas id="canvas-webgpu" width="720" height="640"></canvas>
      <br>
      <button type='button' id='btn-printvc'>Print Mesh Info</button>
   
   </div>

   {{ data|json_script:"data" }}
   <script>
      const djangodata = JSON.parse(document.getElementById('data').textContent);
   </script>


   <script src="{% static 'carSimRender/main/dist/main.bundle.js' %}"></script>



   
   






   

   

</body>
</html>