<!-- {% load static %} -->


<!DOCTYPE html>
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>WebGPU Tissue</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
   <h1>cocoro: WebGPU application for cardiac TISSUE simulation</h1><br>

   <h2 id="id-gpu-check"></h2><br><br>

   <!-- <form>
      <label for="pseudo-bidomain">Pseudo-bidomain</label>
      <input type="radio" id="pseudo" name="options">
  
      <label for="bidomain">Bidomain</label>
      <input type="radio" id="bidomain" name="options">
  
      <label for="monodomain">Monodomain</label>
      <input type="radio" id="monodomain" name="options">
   </form>   -->
  

   <h1>List of Meshes in the Database</h1>
   <form id="selected_mesh" >

      <label for="selectMeshOptions">Select a Mesh:</label>
      <select id="selectMeshOptions">
         {% for file in files %}
            <option value="{{ file }}">{{ file }}</option>
         {% endfor %}
      </select>
   </form>

   <div>
     <br>
     <button type='button' id='btn-simulate'>LET'S GO!</button>
     <br>
   </div>
   
   <div>

      <br>
      <canvas id="canvas-webgpu" width="720" height="640"></canvas>
      <br>
      <!-- <button type='button' id='btn-print-mesh-info'>Print Mesh Info</button> -->
   
   </div>

   <!-- {{ path|json_script:"path" }}
   <script>
      const path = JSON.parse(document.getElementById('path').textContent);
   </script> -->


   <script src="{% static 'cocoroMain/main/dist/main_tissue.bundle.js' %}"></script>



   
   






   

   

</body>
</html>