<!DOCTYPE html>
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Cocoro Upload</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
   <h1>Cocoro: Upload your mesh (domain or electrodes) to the database</h1><br>
  
   <div>
      <form enctype="multipart/form-data" method="post">
         {% csrf_token %}
         {{ form }}  
         <button type="submit" id='btn-uploadMesh'>Upload</button>
     </form>

   </div>


</body>
</html>